.Confirm {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1010;
    background: #fff;
    padding: 10px;
    transform: translate(-50%,-50%);

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        z-index: 1000;
    }
}